[2013-04-29 19:00] jmcvetta opened #2 "License?"
What license (GPL, BSD, etc) is `goveralls` released under?

[2013-04-30 01:42] #2 closed, assigned to nobody

[2013-05-23 18:52] jmcvetta opened #8 "Need test suite for goveralls"
Most ironically for a test coverage tool, `goveralls` has no tests whatsoever.  What is a good strategy for testing it?  Here are a few thoughts:
- We could bundle some sample code with known coverage, and test against that.
- We could split up the big `main()` function into smaller components, making it easier to write unit tests for each part.

Any thoughts on what is the right approach?

[2013-05-26 16:20] #8 closed, assigned to nobody

[2013-09-06 21:00] BenLubar opened #11 "crash when checking multiple 'main' packages"
a/dummy_test.go

    package main

    import "testing"

    func TestDummy(t *testing.T) {
    }

a/main.go

    package main

    import (
            "fmt"
    )

    type foo struct {
            bar string
    }

    func main() {
            var f foo
            f.bar = "a"
            fmt.Println(f.bar)
    }

b/dummy_test.go

    package main

    import "testing"

    func TestDummy(t *t

[2013-11-15 04:26] dustin opened #12 "Doesn't descend into child packages"
I'm getting 100% coverage reported on a project that has subpackages that are insufficiently covered.

[2013-11-17 11:17] #12 closed, assigned to nobody

[2013-12-04 11:07] tchap opened #16 "Drone.io builds stopped working"
Hi,

Today my Drone.io builds using goveralls stopped working. You can check the [output](https://drone.io/github.com/salsita-cider/cider-collector-pivotal-tracker/24).

Is it fixable on my side or something broke while implementing changes for Go 1.2 tools support?

Thank you!

[2013-12-05 11:19] #16 closed, assigned to nobody

[2013-12-11 16:21] freeeve opened #17 "works fine with travis non-pro"
The instructions are somewhat confusing when talking about travis on the main page, so I decided to try them out. In any case, the 5-line after-script on https://github.com/wfreeman/cq/blob/master/.travis.yml

was enough to get it working.

Thanks!

[2013-12-13 16:21] maxlinc opened #18 "repo token shouldn't be required"
I was able to get goveralls working on travis, but I need to give it a repo_token for a public project.

The Coveralls documentation says repo_token is only needed for private projects:

[2014-01-01 07:42] nickpresta opened #19 "Discrepancy between gocov/go test -coverprofile and goveralls"
I'm trying to use Goveralls to report on my test coverage but I seem to be getting wildly different coverage values depending on which tool I run and how I run it.

I hope I'm doing something wrong or misunderstanding how to use goveralls and would appreciate some help. Thanks in advance.
## Using go test

[code]

90.2% coverage

I also have a `cover.out` file in the current directory that allows

[2014-01-14 22:59] usmanismail opened #20 "Unable to run on multiple packages"
I am unable to use this tool with multiple packages

goveralls -package ./... XXXXXXXXXXXX
cannot use test profile flag with multiple packages
error: %v exit status 1
17:58:08 gocov.go:132: Error loading gocov results: exit status 1

[2014-01-31 02:37] lestrrat opened #21 "Is there a way to pass -tags to the test command?"
My project requires -tags ("go test -tags ....") to run the tests. Is there a way to pass it?

[2014-02-09 10:07] h12w opened #24 "Error: goveralls.go:133: invalid character '<' looking for beginning of value"
It seems to return the following html error page, but I'm not sure if it is really coveralls in maintenance or a bug, because I cannot find a notice on coveralls's homepage.

[code]

[2014-02-09 13:34] #24 closed, assigned to nobody

[2014-02-13 11:00] #21 closed, assigned to nobody

[2014-03-11 19:21] aggieben opened #27 "Indeterminate results on coveralls.io"
After getting a build set up on Travis-CI (see my [.travis.yml](https://github.com/aggieben/trello/blob/master/.travis.yml)), I finally got `goveralls` working (seemingly), but the results posted to coveralls.io seem very incomplete.  Here is my most recent Travis-CI log: https://travis-ci.org/aggieben/trello/jobs/20551786#L90, which indicates the coverage job: https://coveralls.io/jobs/1381003.

[2014-03-12 14:54] hanguofeng opened #28 "got invalid character '<' looking"
When finish the build,got :

[code]

the build is :https://drone.io/github.com/hanguofeng/ipquery/11

Would you please help to see this.

[2014-03-12 16:19] #28 closed, assigned to nobody

[2014-06-28 14:18] Southern opened #32 "The documentation is either outdated, or this package is not performing to its advertised standard."
[code]

I have been having to use this to get my test results to properly function. It is advertised that this package will handle `go test -v` on its own, so I thus tried:

[code]

This gave a failure because no cover profile was found. Cool, didn't know that it wasn't outputting to that file. So it's trying to read a nonexistent file. The error can be seen on any of the tests found [here](https:

[2014-06-30 03:26] #32 closed, assigned to nobody

[2014-12-20 19:45] davecgh opened #36 "Individual coverage badge and statistics for each sub-package"
A common pattern is to design an application as a series of reusable and shareable sub-packages within the main repo where your application is essentially just a thin wrapper around these sub-packages.

For a similar example of the idea, consider how `golang.org/x/crypto/...`  works.  There are multiple packages housed under a single repository because they are all related to crypto, however they

[2015-01-31 20:26] zippelmann commented on #18
Is it working with job_id and service_name ? I found something in the repository.

[2015-02-01 22:13] jcelliott commented on #19
I'm seeing the same thing, about a 6% difference between the two on the latest version.

[2015-02-02 05:30] mattn commented on #19
gocov return lines which contains start/end of the part. it's difficust to handle whether the line is passed or not.

[2015-02-02 05:54] mattn commented on #18
Yes, you can specify job_and service_name.

[2015-02-03 23:25] keighl commented on #20
Thanks for writing gover, @modocache. Here's a travis config that works for one of my projects with 'sub-packages'. `go test` can't output multiple coverprofiles, but it's easy enough to just run it a few times.

[code]

[2015-02-12 02:11] sebest opened #39 "Couldn't find a repository matching this job."
Hello,

I'm trying to use goveralls with travis pro (not the free version) but i always have this error message:
Bad response status from coveralls: 422 - {"message":"Couldn't find a repository matching this job.","error":true}

I checked that the repository exists in coveralls as i got the token from this place.

When i pass -service="" instead of the default value i have no errors but i don't se

[2015-02-12 02:29] sebest commented on #39
I think i fixed the issue using
-service=travis-pro

Maybe you should update the README for the travis pro example, as i think the default value is travis-ci , -service should not be required in the travis-ci.org (free) example?

[2015-02-27 21:02] jfrazelle opened #40 "can you make a release? or tag"
Hi!, looking to use this for a project and wondering if you could make a release or tag :) thanks

[2015-03-14 15:46] lloydde commented on #18
This is documented at https://coveralls.zendesk.com/hc/en-us/articles/201774865-API-Introduction

 Setting service_name to "travis-ci" and service_job_id to the Travis Job ID will automatically look up the appropriate build and repository, and assign the job correctly on Coveralls. -- <cite>[THE COVERALLS API][1]</cite>

[1]:https://coveralls.zendesk.com/hc/en-us/articles/201774865-API-Introductio

[2015-03-15 20:56] lloydde commented on #18
This issue was fixed a month ago with 7fdbe144f03526a0df8b617d828ef667df27cfd4.
I recommend closing as fixed.

[2015-03-20 23:06] manan19 commented on #39
I was facing the same issue.
+1 to the solution by @sebest

[2015-03-21 01:52] #39 closed

[2015-06-24 08:15] oryband commented on #19
:+1: any progress?

[2015-06-29 09:03] bolshoy opened #46 "pass -tags to go test the same way as -race and -v are passed."

[2015-09-05 22:58] powerman opened #48 "go-1.1: flag provided but not defined: -coverprofile"
README says "goveralls requires a working Go installation (Go1 or higher)" but looks like it doesn't compatible with go-1.1:
[code]

[2015-09-06 12:52] mattn commented on #48
could you please send me pull-request?

[2015-09-06 12:53] powerman commented on #48
Update README to say "Go-1.2 or higher"?

[2015-09-06 13:12] mattn commented on #48
yes, I can't get go1.1 no longer, so if you think it should be, i will think it's right.

[2015-09-06 22:30] #48 closed

[2015-09-07 09:13] powerman opened #50 "Reconsider -race support"
Please take a look at golang/go#12513 - it probably makes sense to remove -race or change used -covermode.

[2015-09-07 10:21] mattn commented on #50
so, do you mean goveralls should remove `-race`. right?

[2015-09-07 10:54] powerman commented on #50
Yes.

[2015-09-07 10:59] mattn commented on #50
done 897e66e266f4e1d1a1c3e14ffc8f7d05cf8dded3

[2015-09-07 10:59] #50 closed

[2015-09-14 21:56] bkeroackdsc commented on #36
+1

[2015-09-25 22:57] iamqizhao opened #51 "support gRPC-Go test coverage"
Hi,

I made a PR to gRPC-Go (https://github.com/grpc/grpc-go/pull/363) to enable test coverage. I got the following error on Travis. It seems due to gRPC-GO uses an alias google.golang.org/grpc. Can you help take a look?

0.04s$ goveralls -package="google.golang.org/grpc"
can't load package: package github.com/grpc/grpc-go: code in directory /home/travis/gopath/src/github.com/grpc/grpc-go expects

[2015-11-04 01:32] pierrebeaucamp commented on #36
+1

[2015-11-04 01:37] pierrebeaucamp commented on #20
any updates?

[2015-11-04 03:19] h12w commented on #20
Workaround on this issue:
https://github.com/h12w/gosweep

[2015-11-04 12:54] pierrebeaucamp commented on #20
`gover` works perfectly fine for me, but I'd rather have this functionality in goveralls built in.

[2015-12-05 09:12] jonbonazza commented on #46
I would love this as well.

[2015-12-05 14:50] mattn commented on #46
what situation do you expect?

[code]
like this?

[2015-12-06 00:18] jonbonazza commented on #46
In my particular case, I'd like to be able to run the following command:
[code]

[2015-12-17 20:30] devdazed commented on #19
is there any workaround for this?

[2016-02-01 16:27] paulcwarren opened #58 "Possible to use goveralls from a unsupported CI system?"
Hi Mattn,

goveralls looks like exactly what we need.  It is a little unclear to me from the docs and also from my testing whether it is possible to use goveralls to push code coverage stats to coverall.io for a registered open source github repo using a CI system other than Travis or Drone, or one of the other known-about CI systems.

TIA
_Paul

[2016-02-01 16:46] mattn commented on #58
It's possible to use any CI(s) if it can post via HTTP to coveralls.io .
See https://github.com/mattn/go-runewidth/blob/master/.travis.yml

[2016-02-02 15:46] paulcwarren commented on #58
Thanks for the quick reply.  Just so i understand goveralls is tie to travis-ci?  But I can just POST directly to the coveralls.io REST api (assuming I form the right form-data json_file body).  does that sound about right?

[2016-02-02 16:22] mattn commented on #58
yes, if you want to do it easily, goveralls will be useful.

[2016-03-01 20:47] eaburns opened #61 "Reports condition of an if as uncovered if only the block is uncovered."
A very common pattern is:
[code]
If `return err` is uncovered, it also reports `if err := doSomething(); err != nil {` as uncovered even if that statement is in fact covered by a test. This over counts the number of uncovered statements by 1 for each if-return-err block.

[2016-03-02 01:42] mattn commented on #61
https://coveralls.io/builds/2157295/source?filename=scan.go#L190

AFAICS, it seems passing.

[2016-03-02 01:48] eaburns commented on #61
Maybe the difference is that there is no initialization statement in that if.

Here's what I'm seeing: https://coveralls.io/builds/5262466/source?filename=edit%2Fedit.go.
There are many if-statements that are clearly tested, just their condition is always false in the tests. The coverage report says that the if itself is never executed.

Compare to the coverage report of the same code here: https:

[2016-03-02 02:05] mattn commented on #61
Maybe, gocov doesn't output the footprint which is passing there.

[2016-03-02 02:07] eaburns commented on #61
I don't quite understand. Does than mean that the bug is upstream? Either way, thanks for looking. And thanks for this package.

[2016-03-15 21:42] msoap opened #66 "It does not work for public repositories"
It does not work without COVERALLS_TOKEN or -repotoken
Print JSON to stdout and exit: https://github.com/mattn/goveralls/blob/master/goveralls.go#L224

May be broken after https://github.com/mattn/goveralls/commit/d70c8b35c7bf110837b5710dcbafcd94fc4d7705

See log: https://travis-ci.org/msoap/go-carpet/jobs/116232465

This fixed by:
[code]

[2016-03-15 22:16] vitalyisaev2 opened #68 "cannot use test profile flag with multiple packages"
Hello all.

I used ```goveralls``` to build coverage reports for my [repository](https://github.com/vitalyisaev2/skiena) in Travis-CI and Coveralls, and it worked good right up to the present day (even yesterday).

Unfortunately [the latest build](https://travis-ci.org/vitalyisaev2/skiena/jobs/116226137) failed with an error:
[code]

I assure that everything worked before it and there was no any m

[2016-03-16 05:15] #66 closed

[2016-03-18 21:53] smancke commented on #68
I have the same issue.
When I omit the package argument (./...), like in the above workaround, the coverage of the sub packages is not reported. Any solutions?

[2016-03-18 23:05] vitalyisaev2 commented on #68
@smancke

I've end up with this (if you don't mind using extra dependencies like ```ginkgo``` and ```gover```):

Create ```*.coverprofile``` files in every subpackage:
[code]
Merge them into upperlevel ```gover.coverprofile```:
[code]
Post data to Coveralls:
[code]

[2016-03-20 11:49] #61 closed

[2016-04-06 10:43] dotdoom commented on #68
This might have been broken by https://github.com/mattn/goveralls/commit/15b54ebcd27c366f762bd7c4793b6c5d7736d626

Looks like https://github.com/modocache/gover could be used as a workaround for now.

[2016-04-20 21:55] dougnukem opened #69 "Always showing "First build on master at X%" on travis-ci push build"
Not sure if this is a goveralls or coveralls issue, but I'm always seeing coveralls.io report a travis-ci "push" build as "First build on master X%" instead of showing the code coverage diff. I am seeing code coverage diff for pull-request "PR" builds from travis-ci.

Is this a bad configuration that we can fix on our projects end?

Project: https://github.com/codingsince1985/geo-golang/
**Languag

[2016-05-17 09:51] willis7 commented on #68
Same for me

[2016-05-17 14:58] mattn commented on #68
Someone, could you please try `multiple-packages` branch?

[2016-07-12 11:37] at15 commented on #20
https://github.com/go-playground/overalls (Multi-Package go project coverprofile for tools like goveralls ) can be used to test multiple packages in a project and more discussion about this problem can be found in https://github.com/golang/go/issues/6909

[2016-07-12 14:32] mattn commented on #20
I made already branch for multiple-package. https://github.com/mattn/goveralls/tree/multiple-packages

But not tested.

[2016-07-12 15:10] steenzout commented on #20
check https://github.com/h12w/gosweep for a simple bash script that can get you complete coverage.

[2016-07-30 10:19] MichaelMonashev opened #71 "GOARCH=386 compability problem"
More information: https://travis-ci.org/MichaelMonashev/sync/jobs/148512802 and https://travis-ci.org/MichaelMonashev/sync/builds/148512800 .

[2016-07-30 10:54] mattn commented on #71
What do you mean bug? If goveralls works with unexpected behavior, it may be a bug. But as far as I can see the travis logs, goveralls doesn't start. Maybe, it seems that your .travis.yml is wrong.

[2016-07-30 11:28] MichaelMonashev commented on #71
This travis config https://github.com/MichaelMonashev/sync/blob/7010eb45af49789410aed2e71214336b6e726e3f/.travis.yml corresponding with https://travis-ci.org/MichaelMonashev/sync/jobs/148512802 .

I run goveralls in very simple way:
- if [[ "$GOARCH" == "amd64" ]]; then go test -v -race -covermode=count -coverprofile=profile.cov ./netmutex; else go test -v -covermode=count -coverprofile=profile.co

[2016-07-30 11:36] MichaelMonashev commented on #71
May be some lib that is required by the goveralls is not found.

[2016-07-30 11:37] mattn commented on #71
If installation of goveralls are failed, this line sholud failed.

https://travis-ci.org/MichaelMonashev/sync/jobs/148512802#L160

[2016-07-30 12:23] MichaelMonashev commented on #71
@mattn , you were right.

Do you know right path to goveralls?
$HOME/gopath/bin/goveralls and goveralls don`t work in all cases. See my new try: https://travis-ci.org/MichaelMonashev/sync/builds/148523896

[2016-07-30 12:51] MichaelMonashev commented on #71
$GOPATH/bin/goveralls don't work too :-(

[2016-07-30 13:14] mattn commented on #71
You can see bin directory with `go env` maybe.

[2016-07-30 13:28] MichaelMonashev commented on #71
this line fix my problem

export PATH=$PATH:$GOPATH/bin/:$GOPATH/bin/linux_386/:$GOPATH/bin/darwin_386/

Thank you for help.

[2016-07-30 13:30] mattn commented on #71
okay. closing.

[2016-07-30 13:30] #71 closed

[2016-07-30 14:24] MichaelMonashev opened #72 "How to supress this error "Post https://coveralls.io/api/v1/jobs: net/http: TLS handshake timeout""
https://travis-ci.org/MichaelMonashev/sync/jobs/148532887

I think this error rise here: https://github.com/mattn/goveralls/blob/master/goveralls.go#L226 and "shallow" flag don`t hide it.

[2016-07-30 15:50] mattn commented on #72
goveralls will not suppress this error because i think this is not a bug of goveralls. so you need to write script that suppress this error. and specify it on .travis.yml .

[2016-07-30 15:50] #72 closed

[2016-08-30 03:17] hiromaily opened #73 "[question] How can I pass specific araguments which belong to test"
Hi, I wonder how to pass specific arguments to my test.
When test is run, it's passed arguments like ```go test -v -a xxx -b yyy -c zzz```

You may recommend using profile like goveralls -coverprofile=coverage.out.
When running goveralls after getting coverage.out by go test, error was shown.
[code]

Thanks.

[2016-09-08 16:14] kiliankoe commented on #73
I'm also interested in this. I'm using [dvr](https://github.com/orchestrate-io/dvr) to record tests accessing online resources and would need to run `go test -dvr.Replay .`. I'd love to know how to make this work together with goveralls, thanks 😊

[2016-09-09 00:13] hiromaily commented on #73
I forgot to feedback.
I've solved it.

First, run test respectively.
In my case, main package is not located on root directory. it's here ./cmd/xxxxx/main.go.
That's why I changed directory for execution of ```go test``` and ```Goveralls command```.

As an example, my command is the below.
[code]
I run test and got coverprofile.
Next run Goveralls with setting -coverprofile as below.
[code]

I cou

[2016-09-09 00:20] mattn commented on #73
Closable?

[2016-09-09 00:22] hiromaily commented on #73
Yes, thanks!

[2016-09-09 00:22] #73 closed

[2016-09-09 06:58] kiliankoe commented on #73
Awesome, thanks for the hint!

Just a quick question, what is the purpose of -f, -o and -m in the first command? I can't see the documented for `go test` and am curious.

[2016-09-09 07:04] hiromaily commented on #73
@kiliankoe
I'm sorry to confuse you.
I must've written more understandable.

It's just dependent on my test.
My test needs these araguments. (-f ../../configs/travis.toml -om 0).
That's it.

[2016-09-09 07:23] kiliankoe commented on #73
Oh ok gotcha, thanks so much for the reply! :)

[2016-09-10 14:53] haya14busa commented on #68
I tried `multiple-packages` branch and it works great!

sample pull-request: https://github.com/haya14busa/go-vimlparser/pull/1

But I'm not sure it's ok to break backword compatibility and run test ./... by default.

[2016-09-10 15:01] haya14busa commented on #68
I found `-coverpkg` option in `go test -h`

[code]

I didn't try this yet, but we might be able to use `goveralls -service=travis-ci -coverpkg=./...`

[2016-09-10 15:23] haya14busa commented on #68
I tried `-coverpkg` option with this branch https://github.com/haya14busa/goveralls/tree/coverpkg and same sample pull-request and it works.

travis: https://travis-ci.org/haya14busa/go-vimlparser/jobs/158975881#L236
coverall: https://coveralls.io/jobs/18094927

`-coverpkg` option is added on Jun 28, 2013. https://github.com/golang/go/commit/97c19f0f721b1db634dcae6a766712533a8f1bd5

`-coverpkg` ou

[2016-09-10 15:42] haya14busa commented on #68
I'm sorry, please ignore `-coverpkg` things.

`-coverpkg=./...` alone  doesn't run test all pakcages and
`go test -v -coverprofile=coverage.out -coverpkg=./... ./...`
doesn't work... (`cannot use test profile flag with multiple packages`)

I guess `go test` should allow `./...` arg with `-coverprofile` when  `-coverpkg` is given, but I may miss something...

[2016-09-10 17:07] haya14busa commented on #68
FYI: I found the issue for -coverprofile with multiple packages https://github.com/golang/go/issues/6909#issuecomment-123922352

Anyway,  +1 for `multiple-packages` branch.

golist & run go test for each packages doesn't support running one-e2e test and get coverage from multiple dependent sub packages https://github.com/golang/go/issues/6909#issuecomment-208087927
But, I guess it's not a big prob

[2016-09-12 14:14] mattn commented on #68
closed by https://github.com/mattn/goveralls/pull/74

[2016-09-12 14:14] #68 closed

[2016-09-12 14:14] mattn commented on #20
Closed by https://github.com/mattn/goveralls/pull/74

[2016-09-12 14:14] #20 closed

[2016-09-12 14:19] mattn commented on #11
Should be alreadly fixed in latest.

[2016-09-12 14:19] #11 closed

[2016-09-12 14:21] mattn commented on #69
It seems problem already fixed?

[2016-09-12 14:22] #58 closed

[2016-09-12 14:27] mattn commented on #40
tagged v0.0.1

[2016-09-12 14:27] #40 closed

[2016-09-12 14:28] mattn commented on #36
Should be fixed in https://github.com/mattn/goveralls/pull/74

If you still have an issue, please file new issue.

[2016-09-12 14:28] #36 closed

[2016-09-12 14:29] mattn commented on #19
At least goveralls doesn't use gocov. Could you please try in latest?

[2016-09-12 14:30] #18 closed

[2016-09-12 14:32] mattn commented on #17
Do you still have issue?

[2016-10-31 00:16] mvdan opened #78 "No way to pass arguments to go test"
I want to do `go test -short`, not `go test`. Instead of some flags being passed on, like `-covermode` and `-v`, flags starting with `test.` should be passed on to the test program. This is what test binaries do as well.

Then you could use `-test.short`, `-test.v` and such.

[2016-11-07 21:14] fsouza opened #79 "Should gitinfo use CI_BRANCH/TRAVIS_BRANCH/CIRCLE_BRANCH instead of GIT_BRANCH?"
We're running goveralls in a private drone service, and there's no GIT_BRANCH environment variable, there's only CI_BRANCH (see http://readme.drone.io/usage/variables/).

Using rev-parse doesn't work either because drone checks out the specific commit (CI_COMMIT) before running the tests. Should goveralls look for CI_BRANCH as well? I know that this can open the gate to hell (travis has TRAVIS_BRA

[2016-11-08 04:34] mattn commented on #79
Could you please send me pull-request?

[2016-11-08 05:02] fsouza commented on #79
Sure, I'll do it tomorrow, unless I can't recover from elections result.

[2016-11-08 16:44] #79 closed

[2016-11-10 22:20] wjdp opened #81 "-v tag not passing through"
I've a number of sub-packages in a folder. Running goveralls executes the tests, fails if they fail with output and outputs to coveralls.io when run on Travis. However the `-v` flag does not produce verbose output:

https://travis-ci.org/wjdp/htmltest/jobs/174913670#L170

[2016-11-28 20:27] blang opened #82 "Unexpected inclusion of subdirectory"
The coverage of [blang/semver](https://github.com/blang/semver) dropped between two builds because the last build suddenly included a separate subdirectory (examples).

Is that a new semantic of goveralls?

Relevant:
[Coveralls Status Page](https://coveralls.io/github/blang/semver)
[Build that suddenly included subdirectory # 31](https://coveralls.io/builds/8982261)
[Previous build, directory not

[2016-11-29 00:19] mattn commented on #82
Coverage result doesn't depend on the changes of the commit as far as implementation of goveralls. Strange.

[2016-11-29 09:35] blang commented on #82
Does goveralls by default include all subdirectories?
Since it uses `go list ./...`, it might include subdirectories/packages, if i read it correctly.

https://github.com/mattn/goveralls/commit/de5a843d32a9dacf3f70f364b1af28dc213f5f3e#diff-1973b7a49e2b44eaf95ef6a88c0d8d2bR80

[2016-11-29 09:40] blang commented on #82
Ok fixed it by adding the `-package "github.com/blang/semver"` flag to exclude the subdirectory since without the `-package` flag it uses `go list ./...`.

[2016-11-29 09:40] #82 closed

[2016-12-16 09:58] nikkolasg commented on #78
I'm also very interested in any way to pass a arguments to `go test` such as `-race` as it does not seem to be the standard flags.

[2016-12-16 10:27] #78 closed

[2017-02-02 09:58] jspiro opened #84 "general question about "no test files" and coverage"
Coverage reports don't include directories that have no tests. Let's say there are two .go files in it:

[code]

If we add a single `_test.go` file to that package that does nothing, coverage is suddenly reported for all statements in all files in the package (of course, all zeroes).

How can we be sure that a coverage report reflects coverage of ALL packages in a tree, not just those that have at

[2017-02-02 10:13] mattn commented on #84
goveralls upload coverage information from coverprofile which is generated by `go test -coverprofile=xxx`. when there is no tests, coverprofile is not generated. So goveralls doesn't upload anything. Maybe travis CI return error on the test.

[2017-02-02 23:59] jspiro commented on #84
Right! But doesn't that feel wrong, if you have 100 packages of Go code, and only one has tests, and those tests cover 100% of that package's code, then coverage for the repo will be 100%.

[2017-02-24 13:55] porridge opened #86 "goveralls crashes with panic: runtime error: index out of range"
It seems that gover sometimes produces a garbage profile file, and goveralls crashes in a less than friendly manner when this happens:

[code]

The above is from goveralls with the following patch:

[code]

I'm still trying to figure out why gover would produce an invalid coverage (perhaps you have an idea?), but please consider adding some `-debug` info to make this easier to figure out.

See htt

[2017-02-24 14:09] porridge commented on #86
FTR, https://github.com/modocache/gover/issues/4 explains the cause, and suggests this might be a common issue for others as well.

[2017-02-24 15:15] mattn commented on #86
I don't get repro. Below is gover.coverprofile generated.

https://gist.github.com/06be6d12d9c69309dec5b33f62206909

[2017-02-28 05:51] prai-git commented on #51
I am also getting the same error While running the command **go get -u github.com/grpc/grpc-go**

**Error:** package github.com/grpc/grpc-go: code in directory /home/developer/go/src/github.com/grpc/grpc-go expects import "google.golang.org/grpc".

[2017-03-09 20:03] nickmerwin opened #87 "Adding branch coverage support"
Hi @mattn, we're rolling out branch coverage support for Coveralls.io and have landed it in two other integration libraries:

Node: https://github.com/nickmerwin/node-coveralls/commit/d571dac62547f487b3862aca8bf367e95957d904

Python: https://github.com/coveralls-clients/coveralls-python/pull/145

There are more details about the new `branches` parameter here:
https://coveralls.zendesk.com/hc/en-us

[2017-03-10 03:19] mattn commented on #17
`-service` flag should works well.

[2017-03-10 03:19] #17 closed

[2017-03-10 03:20] mattn commented on #19
goveralls doesn't depend on gocov at least.

[2017-03-10 03:20] #19 closed

[2017-03-10 03:21] mattn commented on #27
do you still have this issue?

[2017-03-10 03:22] mattn commented on #46
-branches flag help you?

[2017-03-10 04:02] nickmerwin commented on #87
:zap: amazing, thank you @mattn!

[2017-03-10 04:05] aggieben commented on #27
Oh man, I haven't looked at this probably in two years, so I have no idea.

[2017-03-10 16:13] myint commented on #87
#88 looks like Git branches rather than [conditional branches](https://nedbatchelder.com/files/sample_coverage_html/cogapp_whiteutils_py.html) that @nickmerwin was talking about.

[2017-03-10 20:02] nickmerwin commented on #87
@mattn looking back at this I believe @myint is correct -- I may have incorrectly assumed Golang supports conditional branch coverage; I did a page-search for it here https://blog.golang.org/cover and there were a few hits, but looking back it's less than clear.

@mattn could you shed some light?

[2017-03-11 13:38] mattn commented on #87
Ah, sorry my bad. I'll revert #88

[2017-04-07 14:05] gonzaloserrano commented on #46
You removed the -branches flag AFAIK here https://github.com/mattn/goveralls/pull/88

I also need to pass flags, e.g `-tags integration`

[2017-04-10 16:20] mvdan opened #89 "Crashes with bogus "flag redefined" panic"
Steps to reproduce:

* Fetch `mvdan/sh` at this commit: https://github.com/mvdan/sh/commit/24105a888955c3a3c655107ccf4b79b84e4a0357
* Run `goveralls` (latest version) inside the root of the repo

[code]

Happens on Travis too: https://travis-ci.org/mvdan/sh/jobs/220619066

[2017-04-10 16:21] mvdan commented on #89
For reference, a temporary workaround: https://github.com/mvdan/sh/commit/5d2768cca4a02c1750fe3cbaf4d69a455814873d

[2017-04-17 02:55] mattn commented on #89
it's not issue of goveralls?

[2017-04-17 07:58] mvdan commented on #89
How so? I can't reproduce the issue without goveralls, and the code was certainly correct.

[2017-04-17 08:56] mattn commented on #89
goveralls run tests for all packages in your repository. And your repository include two apps in cmd directory. Then, `"p"` is redefined.

Please try to separate tests.

[code]

[2017-04-17 10:15] mvdan commented on #89
This works just fine, i.e. `go test ./...` succeeds.

The flag "p" is defined in two separate main packages. Why is that an issue?

I still can't reproduce the issue with plain `go` commands and can't get `goveralls` to print exactly what it's executing - tried `-debug` and `-v`.

[2017-04-17 11:01] mattn commented on #89
goveralls should merge coverage of separated result of tests. so internally, goveralls runs following.

[code]

And coverpkg is generated from `go list ./...` so it contains cmd/gosh.

[2017-04-17 11:04] mvdan commented on #89
Okay, I get the crash now. Thanks.

This still seems like a goveralls bug to me. If the repo being tested happens to have multiple executables that share flag names, it won't work. You proposed a manual workaround - can't goveralls do that automatically instead?

[2017-04-17 17:53] demizer opened #90 "Git command issue on travis-ci.org"
Hello! I am getting the following issue on travis-ci.org:

[code]

NOTE: I do not have this problem when running locally.

Here is the goveralls comit cloned on travis-ci.org:

[code]

Thanks!

[2017-04-18 00:11] mattn commented on #90
Could you please show me your .travis.yml?

[2017-04-18 04:22] demizer commented on #90
Hi. Appologies for not adding this to begin with...

[code]

The repo is at https://github.com/demizer/go-rst/blob/scanner_refactor/.travis.yml

Thanks!

[2017-04-18 08:28] demizer commented on #90
The travis-ci file above has been merged to master (https://github.com/demizer/go-rst/blob/master/.travis.yml).

Goveralls is still showing an error on the git command for the last build: https://travis-ci.org/demizer/go-rst/builds/223057070

Thanks!

[2017-04-18 10:52] mattn commented on #90
I git clone your repository and tried same line in the .travis.yml. but not repro.

[2017-04-18 20:55] demizer commented on #90
It seems it is happening only in travis-ci.org for this repo, I am unsure why. I can also not reproduce on the command line. Is there any debugging I can enable to diagnose the issue on travis-ci.org?

[2017-04-19 01:21] mattn commented on #90
Sorry, I don't know.

[code]
Possibly, git-log seems not be there.

[2017-05-16 18:44] mvdan commented on #89
Friendly bump - would still like to be able to use goveralls without having to resort to manual commands like that. Happy to try out possible solutions.

[2017-06-25 08:38] littledot opened #93 "gocover.go:58: Profile FileName is different"
I'm trying to integrate coveralls for my project https://github.com/littledot/mockhiato/pull/10 However, I am getting the following error on Travis.

[code]
This is reproducible locally as well. Do you know what causes this error?

[2017-06-25 11:28] mattn commented on #93
@haya14busa Sorry, I don't understand this part well.

https://github.com/mattn/goveralls/blob/42c8a693f7f0977d9e17901324a9dd149a0f71f6/gocover.go#L58

Could you please explain what this mean?

[2017-08-04 15:05] rmohr opened #95 "The ignore feature is very picky about the path"
Hi @mattn,

A very nice little tool.

I am using the `-ignore` flag to exclude all my gomock generated code from code coverage. When I run

[code]
it does ignore my files.

When I run

[code]

it does not.

The difference is, that in the first example, I am removing the leading `./` from my `find` results. In the second example, I don't.

So passing in `./pkg/generated_mock.go` would fail, whereas

[2017-08-04 15:30] mattn commented on #95
-ignore options is patttern. So you can use `pkg/*_mock.go`.

[2017-08-04 15:32] rmohr commented on #95
Missed that. Thanks. :+1:

[2017-08-04 15:32] #95 closed

[2017-08-09 10:51] romanyx commented on #81
Added on https://github.com/mattn/goveralls/pull/94

[2017-08-09 10:55] #81 closed

[2017-09-02 06:44] mch1307 opened #97 "Question - goveralls parallel"
Hi,
I need to run my tests with no parallel. I usually do this with
`go test ./... -p 1`
But I did not find a way to pass this option to goveralls. Tried with env var GOMAXPROCS, COVERALLS_PARALLEL but no success. Is this possible?
Thanks

[2017-10-02 12:54] empijei opened #100 "Token disclosure in .travis.yml"
You are publishing your repotoken for coveralls, which is discouraged by coveralls themselves:
![image](https://user-images.githubusercontent.com/1256049/31078215-836ea1aa-a781-11e7-97b8-aae84d79eee8.png)

[2017-11-11 13:07] maxibanki commented on #93
Hi,
I have the same issue now, I haven't changed anything related to the `go test` or `goveralls` command. Very strange, it has worked all the time before.

Do you have any updates related to this issue?

[2017-11-12 12:13] hsluoyz opened #102 "Travis CI build error: _testmain.go:69:74: undefined: util.GoCover_0"
Travis CI reports errors for recent commits of my repo: https://github.com/casbin/casbin. One of the error jobs is: https://travis-ci.org/casbin/casbin/jobs/300637769

[code]

Starting from [this commit](https://github.com/casbin/casbin/commit/ccc3b45b162b04f9a126724c7b8ff935c3c1088e), Travis CI starts to report error. I only changed README.md in that commit. All following commits report the same

[2017-11-12 12:52] mattn commented on #102
This is not an issue of goveralls.

https://github.com/golang/go/issues/9212

[2017-11-12 13:00] hsluoyz commented on #102
Hi. I don't quite understand what that issue means. But I notice that issue starts from ``Dec 6, 2014``. I only started to encounter this issue just from yesterday. So what causes such an issue then?

[2017-11-12 13:47] mattn commented on #102
Sorry, I looked wrong issue.

Maybe related on https://github.com/golang/go/commit/e33794fbc2067515c7546ab3b35fe229eeec2a0b or https://github.com/golang/go/commit/283558e42b88a6afa39da6ad4ae87558dc053776

[2017-11-12 16:02] hsluoyz commented on #102
It seems to be a Golang issue. I have submitted the issue to: https://github.com/golang/go/issues/22679
Thanks for the support! I will close the issue here :)

[2017-11-12 16:02] #102 closed

[2017-11-13 21:33] kyessenov commented on #93
Hit this issue in another project. Any workaround?

[2017-11-14 01:21] mattn commented on #93
What repo?

[2017-11-14 01:33] kyessenov commented on #93
https://github.com/google/go-jsonnet/pull/152

[2017-11-14 03:41] mattn commented on #93
now problem was fixed. could you please try in latest update?

[2017-11-14 04:01] kyessenov commented on #93
Yay, it passed the build now!

[2017-11-14 04:04] mattn commented on #93
If you still have this issue, please reopen this. Thanks.

[2017-11-14 04:04] #93 closed

[2017-11-14 07:00] maxibanki commented on #93
Thanks for the update, but now I'm having a different issue and I don't know why:
https://travis-ci.org/maxibanki/golang-url-shortener/builds/301796940
Would be cool if you can take a look at it :)

[2017-12-03 22:21] cdennison opened #103 "Goveralls counts braces but "go tool cover" doesn't"
Hi everyone,

I've been trying to contribute to and open source project and noticed that the coveralls coverage percent differs from what I get from go tool cover. The difference is relatively small but I thought you still might want to know about it. I think it's entirely caused by goveralls counting braces but go cover not counting them (go cover approach explained [here](https://blog.golang.org

[2017-12-14 19:10] cdennison commented on #103
@mattn - sorry I missed your comment - I'm not sure I follow. You can get 100% coverage wth go cover - it just doesn't care about the braces. The only difference between goveralls and go cover is regarding missing coverage - the go cover percent will often be lower because it doesn't count braces. Don't get me wrong - most coverage calculator for languages other than go count braces so I think you

[2017-12-19 12:09] julianfrank opened #104 "exclude folder from coverage report"
How do I exclude specific folders from coverage report ... For example I have a Example Folder with sample go code but dont want it to be used in coverage report %

Case in point my repo https://github.com/julianfrank/gtmesh ... I dont want the examples folder in the coverage % report

[2017-12-19 19:56] ryfloyd opened #105 "Throw Error when collectGitInfo fails"
I spent far too long to understand why my reports to Coveralls.io was not showing any branch info, commit message, etc.  My app is built with Docker, and it was excluding `.git` folder in my `.dockerignore` file.  This resulted with missing formdata POST to coveralls.io.

Easily fixed by just including `.git` folder to my Docker container.

[2017-12-20 00:19] mattn commented on #105
Do you expect that update README.md?

[2018-01-05 03:07] pawanrawal opened #106 "Adding TeamCity service"
Are there any plans to add https://www.jetbrains.com/teamcity/ to the list of supported services? Or is there any workaround to make it work on TeamCity?

[2018-01-11 22:50] rogchap commented on #106
Hey @pawanrawal We have a similar request, but for Bulkite.

I had a look at the code and it's pretty easy to get it to work with another CI Platform. the `-service` flag is only text that gets passed through to the API and then you just need to override a few Environment Variables to get the PR number, Branch etc.

This is a how we did it for Buildkite, I'm sure Team City would be similar:

[code

[2018-01-12 00:04] mattn commented on #106
I don't use termcity. So if you got succeeded to post, please send me PR to update README. :)

[2018-01-12 12:45] vlal opened #107 "Add GCB service"
Add support for https://cloud.google.com/container-builder/docs/

[2018-01-15 22:07] jbelmont opened #109 "goveralls is failing with tests directory"
Hello I am using goveralls and seeing the following error:

[code]

I believe the issue is the `tests` directory

[2018-01-17 14:07] jbelmont commented on #109
Fixed it by using another tool.

[2018-01-17 14:07] #109 closed

[2018-03-18 10:04] hhrutter opened #112 "travis exits with 1 - no packages depend on .."
Hi!

I just started getting travis failures that look like so:

[code]

My travis build used to work and my local go test ./... also works.
My local environment is: go version go1.9.3 darwin/amd64

What am I missing here?

[2018-03-18 12:16] mattn commented on #112
goveralls doesn't support test for multiple packages.

[2018-03-18 12:16] mattn commented on #112
please show me your .travis.yml

[2018-03-18 21:30] hhrutter commented on #112
Fixed! Too much logging output then testing takes too much time
But this is in no way reflected in the error message..
Anyway - I am happy.

[2018-03-18 21:30] #112 closed

[2018-03-24 15:30] pladdy commented on #46
@mattn what if i i have sqlite dependency and my tests have to build with `-tags json1`
Is there a way to pass that to goveralls?
Like `goveralls -flags "-tags json1"`

[2018-05-01 06:53] jedib0t opened #114 "Coverage numbers do not match "go test -cover""
Project: https://github.com/jedib0t/go-pretty

Coverage as per `go test -cover $(go list ./...)`: 100%
[code]

Coverage as per goveralls/Coveralls: 83%
  * https://travis-ci.org/jedib0t/go-pretty/builds/373357699
  * https://coveralls.io/jobs/36109536

Running `goveralls` locally with `-show -debug` seems to show that the POST data has no content for the files in the folder `table` or `util`. Log

[2018-05-04 03:52] jedib0t commented on #114
Coverage numbers on Coveralls keep going down as I write more code: https://coveralls.io/jobs/36212817

[2018-05-05 08:25] jedib0t commented on #114
Looks like it may be a bug in `go test -cover -coverpkg`. I changed goveralls.go code to not use the flag `-coverpkg` and it seemed to show 100% coverage again:
[code]

Goveralls run log: [goveralls.log.txt](https://github.com/mattn/goveralls/files/1976454/goveralls.log.txt)

[2018-05-05 22:27] jedib0t commented on #114
Nevermind. Figured that `go test -cover` has not played well with multiple-package projects till `go 1.10`. With `go 1.10`, you can do the following to support projects with multiple packages:

Run your tests and invoke goveralls like so:
[code]

This should upload proper coverage data for your project.

[2018-05-05 22:27] #114 closed

[2018-05-21 00:47] #104 closed

[2018-06-26 17:18] crazcalm commented on #27
I have this issue, but it does not happen to all the packages in my repo.

![cover_issue2](https://user-images.githubusercontent.com/3482344/41928414-1de98914-7943-11e8-8f74-57b944724270.png)

![cover_issue](https://user-images.githubusercontent.com/3482344/41928423-25572e9a-7943-11e8-803f-548aad0eaaaf.png)

![cover_issue3](https://user-images.githubusercontent.com/3482344/41928430-2b253ede-7943-1

[2018-06-27 20:12] crazcalm commented on #27
I found a work around. If I use https://github.com/go-playground/overalls to create the coverage report, and then use goveralls to send that report to coveralls, then everything works out fine. For more details on this work around, check out the overalls repo.

[2018-08-02 20:43] retr0h commented on #84
I like this behavior b/c I have a test utility package I use only in tests as helpers.  I do not want these covered, and they should be skipped since a test file does not exist.

I'd just add something to your CI to force it to fail.

[code]

[2018-09-05 17:10] ryfloyd commented on #105
Perhaps a warning log if the directory is missing the `.git`?

[2018-09-10 19:07] someone1 opened #120 "Multiple Package Unexpected coverage"
I'm unsure if I'm misunderstanding how to execute goveralls correctly or if something is wonky with its multiple-package execution.

I have a [package](https://github.com/someone1/hydra-gcp/tree/plugin) where I have unit tests and some integration tests. The unit tests cover the packages they're a part of, and the integration tests cover multiple packages.

Typically, I'd use what's in goverall's

[2018-10-01 23:03] microsoftly opened #122 "Add support for custom jobID"
Currently, the only way jobID is selected is by searching through possible env vars that my exist for different build tools. In circleCI its possible to have multiple jobs run in parallel for a given workflow, each with their own unique buildID. It should be possible to submit parallel reports for each, but this restriction prevents it.

An example workflow would be:
[code]
where `report-coverage`

[2018-10-30 17:42] rayjlinden opened #124 "Can't get to work on drone.io"
goveralls -coverprofile=cover.profile -service=drone.io -repotoken $$COVERALLS_TOKEN
Bad response status from coveralls: 422
{"message":"Couldn't find a repository matching this job.","error":true}

[2018-10-31 08:10] mattn commented on #124
Sorry, I don't use drone.io at the least.

[2018-11-12 00:42] vektah opened #125 "Ignoring example packages doesn't seem to affect total coverage"
I'm building [a graphql server](https://github.com/99designs/gqlgen) that generates lots of code, and the test coverage of the generated code in examples isn't particularly interesting so I want to exclude it from the reports.

What I'm currently trying:
[code]

Without any -ingore specified it looks like this:
![image](https://user-images.githubusercontent.com/2247982/48320526-f539d880-e5cf-11e8-

[2018-11-12 01:19] mattn commented on #125
Did you try `-ignore` option?

[2019-01-11 09:10] tbaud0n opened #127 "Not working on travis-ci for go module enabled project"
The build fail when using goveralls.
Here is my travis.yml
[code]
The travis-ci log :
[code]

[2019-01-26 06:55] pradgnyakulkarni opened #129 "Documentation for integrating with Jenkins CI"
Please show an example or documentation on how  to integrate goveralls with Jenkins

[2019-01-31 00:51] pradgnyakulkarni commented on #129
Hi there is anyone looking in to this issue? Is there a way to use gocoveralls with Jenkins CI using API or any other way?

[2019-01-31 01:42] mattn commented on #129
@mtenrer Could you please explain how to use goveralls with Jenkins?

[2019-02-01 19:03] mtenrero commented on #129
@mattn of course. @pradgnyakulkarni It's quite simple After download all deps. make an step executing go tests with code coverage options:

[code]

And then , just simply call goveralls with your token and the reference of your coverprofile:
[code]

If you need a real-life Jenkinsfile example you can take a look to my repo: https://github.com/mtenrero/ATQ-Director/blob/master/Jenkinsfile It's also

[2019-02-02 19:21] riquellopes opened #130 "Update the documentation"
Hi everyone,

Please to update the documentation with some information about the ignore param.

Best regards

[2019-03-18 22:31] vektah commented on #125
Any update? This is blocking coverage for https://github.com/99designs/gqlgen

[2019-04-18 12:57] forstmeier opened #133 "Sub-package files not appearing in Coveralls output"
### Description
I've configured a `travis.yml` file in my project [Heupr](https://github.com/heupr/heupr) but I'm only seeing three of the five files with actual code appearing in the Coveralls output [here](https://coveralls.io/github/heupr/heupr). Am I missing a configuration in the `travis.yml` file that would make sure all files are reported on?

[2019-04-23 16:19] diegobernardes opened #134 "Invalid commit message"
This is the first time this kind of weird error occurs to me, so I think that may be something related to Azure Pipelines, as is also the first time I've been using it. The commit messages are very weird at Coveralls:

https://coveralls.io/github/pipehub/pipehub
![image](https://user-images.githubusercontent.com/14483/56598095-b7fc5c80-65eb-11e9-97e6-d08c78e7a879.png)

Any idea?

[2019-04-30 12:21] forstmeier commented on #133
I fixed this by including the `gover` tool and running tests for each individual sub-package.

[2019-04-30 12:21] #133 closed

[2019-05-08 04:10] mattn commented on #134
As far as I remember, goveralls does not send commit message to coverall.

[2019-06-05 10:20] nukosuke commented on #127
Same here.

[code]

It seems that `go list` start to resolve dependencies if local cache does not exist.
Probably, we could remove the output by fixed prefix `"go: "` here.https://github.com/mattn/goveralls/blob/cefa7fbfa45e336c2d088ad052c82a37c98752d6/goveralls.go#L111-L115.

@mattn
I submitted a patch for this. #135
Please take a look 🙏

[2019-06-05 10:31] mattn commented on #127
@nukosuke #135 is merged. So this is closable?

[2019-06-05 12:04] nukosuke commented on #127
It seems to works fine. Thank you!!

[code]

[2019-06-05 12:21] aermakov-zalando commented on #87
Could you reopen the issue? Branch coverage is still missing for Go projects.

[2019-06-06 02:38] mattn commented on #87
I wonder branch coverage is supported on coveralls.

[2019-06-06 03:48] #127 closed

[2019-06-15 04:57] hsluoyz opened #136 "build github.com/mattn/goveralls: cannot load golang.org/x/tools/cover: disallowed version string """
After today's commit, I found the coveralls is broken. I didn't change anything in Travis.

https://travis-ci.org/casbin/casbin/builds/546016711

[code]

Can anyone help with it? Thanks.

[2019-06-16 02:42] LLKennedy commented on #136
I'm also encountering this issue:

https://travis-ci.org/LLKennedy/imagetemplate/jobs/546263797

[code]

[2019-06-16 03:00] hsluoyz commented on #136
Hi @LLKennedy , I found this is because I'm using go tip. After using Go 1.12, it is fixed: https://github.com/casbin/casbin/commit/0d99fc288abb2d75b163f4d0a1d286e25f5660f6

[2019-06-16 03:01] hsluoyz commented on #136
I think it's more of a Golang issue than goveralls issue, so I close this issue for now.

[2019-06-16 03:01] #136 closed

[2019-06-16 04:47] LLKennedy commented on #136
I'm using Go master as well, I'll see if changing to go 1.12 also fixes it for me. If so, I agree it's not strictly a goveralls issue.

[2019-08-14 00:56] tariq1890 opened #137 "Getting a 405 from coveralls"
On looking at the CI logs, we get this error. Any ideas on going about solving this?
[code]

[2019-08-16 05:06] #137 closed

[2019-09-16 08:30] Smolevich opened #138 "Support Github Actions"
Hello everyone!
Do you have plans to support Github Actions as [CI](https://help.github.com/en/articles/about-github-actions)?

[2019-09-19 01:23] endophage opened #139 "Cut a new release"
Hey, with go 1.13 and the modules functionality a go get pulls your v0.0.2 tag. That’s coming up on 2 years old and you’ve added things like the parallel flag since then. Any chance you can tag a v0.0.3 or whatever you feel is appropriate?

[2019-09-19 19:13] Smolevich commented on #138
@mattn, can you answer me?

[2019-09-21 00:19] rensdad1 commented on #138
Keeping tags for pay later

[2019-09-26 05:35] mattn commented on #139
tagged https://github.com/mattn/goveralls/releases/tag/v0.0.3

[2019-09-26 05:35] #139 closed

[2019-10-11 07:50] eduncan911 opened #140 "Not Supported by Github Actions"
There is an error here when trying to use with default GitHub actions.

https://github.com/mattn/goveralls/blob/master/gocover.go#L25

The issue is that GitHub Actions checks the code out into a non-GOPATH location.

I have to force a checkout of the code into a GOPATH location, and then coveralls runs.  Notice the commands to `go get` my own repo.  This is different than the default Golang runner

[2019-10-11 14:58] #138 closed

[2019-10-14 21:49] nhooyr opened #141 "Support GitHub actions out of the box"
Done for my repo manually in https://github.com/nhooyr/websocket/blob/9b9d7b4aac087688af34698a3a0b45fc8d6303a4/ci/test.mk#L9

Related #140

[2019-10-14 21:49] nhooyr commented on #140
See #141

I did not have this issue. I don't see why overalls would need to support modules as it uses `go test` which should. Maybe you're on an old version of Go on CI?

[2019-10-14 22:14] eduncan911 commented on #140
Go 1.11 and Go 1.12, pretty recent.

So in that PR, you're checking out Go code into a path outside of the GOPATH?

Here's the full CI run, where it's checking out to a non GOPATH, and running goveralls.

https://github.com/eduncan911/github-actions/commit/66d6ccde96546ce02e5ad494a23bd74e1190a1a0/checks?check_suite_id=260823215

The actual error is:

[code]

[2019-10-14 22:17] nhooyr commented on #140
Yes I am.

I'm not sure what's going on with your run. Feel free to try to use my code verbatim.

[2019-10-14 22:21] eduncan911 commented on #140
Yeah, it's odd.

I don't have the `cover.out` handy, but it basically lists full file paths to like /home/runner/work/repo/main.go

Once I moved the go code to checkout into /home/runner/go/sex/GitHub.com/repo/main.go, it works!

I even checked out an older tag here, as used a few years ago - same issue.

I'll close this for now since you're unable to repo.

[2019-10-14 22:21] #140 closed

[2019-10-30 05:01] #141 closed

[2019-11-01 18:01] umputun opened #143 "coveralls with github actions"
I have tried to integrate coveralls into github actions and run into several issues:

- Actions support is not documented anywhere. It is unclear what `-service` to pass if any
- I think the proper setup requires the user to export  `GIT_BRANCH` and (maybe) `GIT_TAG`. Without it, goveralls thinks the build was for a detached head
[code]
- Long Ids from actions (i.e. `DFF1E976041AF8B5B09349FABC9882

[2019-11-01 18:04] mattn commented on #143
@jderusse can you handle something for this?

[2019-11-01 20:30] jderusse commented on #143
list of services is documented in coveralls: https://coveralls.io/supported-continuous-integration
Given GithubAction is not managed yed, just don't use this parameter.

I'm able to reproduce it and send a patch...

I noticed that too and agreed. I suggest to set the JobID to an empty string and let coveralls  use a autoincrement id. What do you think @mattn ? I'm not sure to understand the purpos

[2019-11-01 20:34] umputun commented on #143
I think this is `GitHub Action` (i.e. -service="GitHub Action"). Don't recall the source but most likely found it in coveralls actions code

[2019-11-01 20:39] umputun commented on #143
I can be wrong, but I think coveralls using id to match & update coverage for the build. Making it automatic can be troublesome as some failed (on github side) builds may send coverage before they fail. However, github actions allow restarting such build manually and it may lead to duplicated reports on coveralls side.

[2019-11-01 20:44] jderusse commented on #143
The official coveralls github actions uses:
- service="github" https://github.com/coverallsapp/github-action/blob/master/src/run.ts#L24
- job=sha (as does goveralls) https://github.com/coverallsapp/github-action/blob/master/src/run.ts#L42

[2019-11-01 21:04] jderusse commented on #143
just tried with "service=github" and got `{"message":"Couldn't find a repository matching this job.","error":true}`

[2019-11-01 21:21] umputun commented on #143
mine with ` -service="GitHub Action"` https://coveralls.io/github/umputun/remark?branch=master

Not sure if coveralls do anything special in this case, but at least not rejected

[2019-12-01 14:48] theory commented on #143
For me, neither [`-service=github`](/iovation/flockd/commit/fba86d6b77423c89d3deac9e21565a0ea2f77b95/checks?check_suite_id=336137322) nor [`-service="GitHub Action"`](/iovation/flockd/commit/82ffa7832673de705bd07fa62d069da28709a16e/checks?check_suite_id=336494042) work. :-(

[2019-12-01 15:21] jderusse commented on #143
it depends of the value of `COVERALLS_TOKEN`.
see https://github.com/mattn/goveralls/pull/144#discussion_r342997287

[2019-12-01 16:19] theory commented on #143
Sorry to be dense, but I tried using the token at the top of the coveralls repo page, which looks like this:

<img width="218" alt="Screen Shot 2019-12-01 at 11 14 22 AM" src="https://user-images.githubusercontent.com/46604/69916671-d94be380-142b-11ea-9d7e-ee034dc4753a.png">

And that [did not work](/iovation/flockd/commit/a534de73a1563fa8b3cfa3cab11d75dc4a53af3c/checks?check_suite_id=336130970).

[2019-12-01 16:25] theory commented on #143
Ah, maybe it's just something that's magically there, always in `${{ secrets.GITHUB_TOKEN }}`. Because that gets me [a bit further](/iovation/flockd/runs/328031756).

[2019-12-01 18:44] theory commented on #143
And got past that by testing only 1.11 or later. 🤷‍♂

[2019-12-06 01:34] kiambogo commented on #69
I'm experiencing the same, across multiple private Go repos. Builds run and report on Codeship with:
[code]
All repos only show the very first master build, and will only report (notifications) of code coverage on brand new branches.

[2019-12-14 15:30] gdholtslander commented on #107
I'm interested in this too, though it's now called Cloud Build https://cloud.google.com/cloud-build/docs/

[2020-01-09 09:41] mattn opened #149 "Looking for maintainers"
I already don't use goveralls. So it is difficult to maintain this. Anyone want to maintain this?

[2020-01-10 01:09] shogo82148 commented on #149
🙋‍♂

I'm use goveralls via https://github.com/marketplace/actions/actions-goveralls

[2020-01-10 05:23] fezho opened #150 "fatal error: bad object xxxx in Github action"
Use the same action config  in [README.md](https://github.com/mattn/goveralls#github-actions) , but got error in Pull request action (non master branch)as follows:
[code]

However,  using Travis CI and action in master branch is okay. Here's my repository's [action link](https://github.com/fezho/libkv/commit/e8c6fffb9b181fb2c0dee99e7eb6b5d8ce605863/checks?check_suite_id=393410600)

Guess this erro

[2020-01-10 13:09] shogo82148 commented on #150
using `actions/checkout@v1` is one of workaround.

I'll try to fix it in this weekend.

[2020-01-10 13:32] fezho commented on #150
@shogo82148 I send a pull request https://github.com/mattn/goveralls/pull/151 about fix this issue. And It works both checkout v1 and v2

[2020-01-11 17:42] shogo82148 commented on #122
custom job id and job number is supported by https://github.com/mattn/goveralls/pull/145
enjoy!

[2020-01-11 17:42] #122 closed

[2020-01-13 05:50] shogo82148 commented on #150
fixed by https://github.com/mattn/goveralls/pull/157

[2020-01-13 05:50] #150 closed

[2020-01-13 06:01] shogo82148 commented on #134
It looks that the commit message is created by GitHub, and it's not goveralls' issue.
please go to Azure Pipelines forum or help desk.

[2020-01-13 06:01] #134 closed

[2020-01-13 08:13] shogo82148 commented on #143
You need to set GOPATH correctly.

https://github.com/mattn/goveralls/pull/161 https://github.com/mattn/goveralls#test-with-legacy-gopath-mode

[2020-01-14 04:52] renovate[bot] opened #163 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near  ]
  "sche`

[2020-01-14 04:53] #163 closed

[2020-01-14 10:04] dtitov commented on #140
I'm actually having the same issue: https://github.com/uio-bmi/lega-uploader/commit/ab08d7acaa224bb13e3aadb906ce698b3e4a3c08/checks?check_suite_id=399511082

Did you figure out anything about this?

[2020-01-14 13:06] eduncan911 commented on #140
I just had to bypass it, as I linked to above:

https://github.com/eduncan911/github-actions/blob/master/.github/workflows/go.yml

[2020-01-15 12:03] shogo82148 commented on #140
You need to set the `$GOPATH` environment value or the `go.mod` file.

[2020-02-03 22:07] rcmachado commented on #149
Maybe someone from @lemurheavy can help (since it seems they are responsible for the Coveralls service)?

[2020-04-13 21:30] #46 closed

[2020-04-26 20:31] wenbenz commented on #143
Not sure if this is the right place to put this, but I'm getting
[code]
whenever I try to run the workflow. Has anyone else seen this?

[2020-06-04 08:47] nunnatsa opened #171 "Can't restart travis-ci job"
When trying to re-run a travis job, it never succeed and reports the following error:

[code]

[2020-08-06 05:14] gaocegege opened #172 "Missing profiles when merging"
Hi, I use this branch https://github.com/gaocegege/ormb/tree/goveralls-bug to run goveralls and find that some test coverage is not reported to coveralls.

I find that the logic here has errors: https://github.com/mattn/goveralls/blob/master/gocover.go#L33

I do not think we can assume that each profile has the same sorted FileName and Blocks. I think we need to add more checks for it.

In my case

[2020-08-06 05:27] mattn commented on #172
@shogo82148 What do you think?

[2020-09-05 11:17] nbaztec commented on #149
I can volunteer, already maintaining the Kotlin version for Coveralls and Golang is my primary language :)

[2020-09-07 07:03] gaocegege commented on #172
ping @shogo82148

[2020-09-07 11:02] shogo82148 commented on #172
@gaocegege You are right.
We need to add more checks for it.

It looks that each profile has been sorted by `FileName`.
https://github.com/golang/tools/blob/39188db5885871ea0132a6314eab0c1b5d179a8b/cover/profile.go#L115

But we shouldn't use `ps[i].FileName` here, because each profile may not have the same index numbers.
https://github.com/mattn/goveralls/blob/769aeade9f84a02b417c6cbe297d9c561eebb

[2020-09-08 11:05] #172 closed

[2020-10-28 09:39] gdm85 commented on #149
@mattn I volunteer as well.

[2020-10-29 00:41] mattn commented on #149
Thanks all. I invited you to collaborators.

[2020-10-29 07:18] gdm85 commented on #86
As far as I know this happens when the source files on disk have less line numbers than the generated coverage profile; a sanity check would be in order.

[2020-10-29 23:20] #149 closed

[2020-10-30 16:03] gdm85 commented on #171
Have you set `COVERALLS_SERVICE_JOB_ID` or `TRAVIS_JOB_ID`?

[2020-10-30 16:19] gdm85 commented on #130
What documentation do you have in mind? The individual CLI arguments are not currently documented in the README.

[2020-10-30 16:33] gdm85 commented on #129
I have opened a PR to address #179; there is a wide range of options on how to do this on Jenkins so I limited myself to a simple example.

[2020-10-30 16:39] gdm85 commented on #105
The python tool has the possibility to pass the `git` information via environment variables; that is also possible for the codecov official tool and in general it is a good practice to **not** bloat the Docker image with the `.git` directory.

@mattn I would like to submit a PR to add support for `git` information via environment variables; I would use these for reference: https://github.com/cover

[2020-10-30 16:42] gdm85 commented on #100
@mattn can you please renew the token? The one in git history is still valid.

[2020-10-30 16:45] gdm85 commented on #27
I am closing this; if the issue is still present we can reopen this or create a new issue and go through some troubleshooting steps.

[2020-10-30 16:45] #27 closed

[2020-10-30 16:48] gdm85 commented on #89
@mvdan in this case perhaps it is better to generate the coverage profile file with `go test ...` and then pass it over to `goveralls`?

[2020-10-30 18:10] #129 closed

[2020-10-30 18:17] gdm85 commented on #87
Go has no native branch coverage; see [this SO answer for more details](https://stackoverflow.com/a/53396774).

Since [upstream Go has turned down the feature](https://github.com/golang/go/issues/28888) I suggest to **not** support it in goveralls and close this issue as `won't fix`; @mattn thoughts?

[2020-10-30 19:00] gdm85 commented on #124
@rayjlinden did you solve the issue?

[2020-10-30 20:21] gdm85 commented on #107
@vlal @ghostlandr can you provide a minimal example about how to use `goveralls` with Cloud Build?

[2020-10-30 20:27] gdm85 commented on #90
@demizer try running `git help` and `git version` to figure out what is being used there. The new environment variables I propose [here](https://github.com/mattn/goveralls/issues/105#issuecomment-719662203) might help as well.

[2020-10-30 21:44] rayjlinden commented on #124
Nope.  Ended up building our own alternative to goveralls...

On Fri, Oct 30, 2020 at 12:00 PM gdm85 <notifications@github.com> wrote:

[2020-10-31 06:27] gdm85 commented on #124
Alright, thanks!

Closing until issue can be reproduced.

[2020-10-31 06:27] #124 closed

[2020-11-01 15:30] daniel-nichter opened #182 "Exit 1 with no output on travis-ci with go1.14"
Example: https://travis-ci.org/github/go-cmd/cmd/jobs/740620242

But the [same build on go1.13](https://travis-ci.org/github/go-cmd/cmd/jobs/740620241) works fine.

.travis.yml:

[code]
Also originally had `-path github.com/go-cmd/cmd` but removed to see if that made a difference (it didn't).

No output even with `-debug` seems to suggest it's not even running?

[2020-11-01 19:18] gdm85 commented on #86
@porridge I am going to close this issue, assuming it is fixed in current `master` now that #180 is merged; if it is not fixed and can still be reproduced (either in this form or in a new one) please comment back.

[2020-11-01 19:18] #86 closed

[2020-11-01 19:30] gdm85 commented on #182
@daniel-nichter can you please use there `go get github.com/mattn/goveralls@master` and see if the exit code is still `1`? Thanks.

Meanwhile I will add Go1.14 to the Travis builds of goveralls.

[2020-11-01 23:05] daniel-nichter commented on #182
Done, but no luck: https://travis-ci.org/github/go-cmd/cmd/jobs/740698686#L221

[2020-11-02 10:30] nbaztec commented on #143
@theory If the issue has be resolved for you, can the issue be closed?

[2020-11-02 11:02] nbaztec commented on #125
@vektah The ignore seems to be working correctly on goveralls's side.

From your example and checking the [build history](https://coveralls.io/repos/225070/builds?page=48) seems you tried to push the coverage on the same build number, so it's entirely possible that coveralls does not update the coverage accordingly. Subsequent builds seem to have fixed it going forward

[2020-11-02 13:00] nbaztec commented on #182
Seems it's related to go1.14 on windows. My guess would be one of the exec commands.

[2020-11-02 13:07] nbaztec commented on #171
If the travis job id doesn't change on re-run (which I think it doesn't), this can definitely cause this error on coveralls side, since the `job_id` needs to be unique per push or omitted. @gdm85 I think we need a mitigation strategy for this scenario in general.

[2020-11-02 14:47] daniel-nichter commented on #182
It's not Windows: I disabled the Windows build and it still failed: https://travis-ci.org/github/go-cmd/cmd/builds/740850560

[2020-11-02 16:19] theory commented on #143
Yes, it is resolved for me, though I can't speak for the other folks on this ticket.

[2020-11-02 17:06] nbaztec commented on #143
@umputun could you verify if the solutions worked for you, please?

[2020-11-02 17:12] umputun commented on #143
for me, it works fine with `-service="github"` and `COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}`

[2020-11-02 17:13] nbaztec commented on #143
Thanks for confirming!

Closing this issue.

[2020-11-02 17:13] #143 closed

[2020-11-02 17:18] nbaztec commented on #182
@daniel-nichter could you perhaps try a build without goveralls and run the test via `go test -race ./...` directly to confirm that the tests are in fact passing. I tried running tests on your repo and got an error the first time, but subsequent invocations succeeded. Perhaps there is a race condition somewhere and/or timeout issues that you identify.

[code]

[2020-11-02 20:13] daniel-nichter commented on #182
That revealed something:
[code]
I did just update the pkg from 1.13 to 1.14. Let me straighten out go mod and see if that makes it all work again...

[2020-11-02 20:33] gdm85 commented on #171
What does coveralls.io suggest to do in this case? Travis CI is officially supported by them.

[2020-11-02 21:04] nbaztec commented on #182
Running `go mod vendor` should fix that

[2020-11-02 21:48] nbaztec commented on #171
Seems to be an issue on [coveralls'](https://github.com/lemurheavy/coveralls-public/issues/1264#issuecomment-465257524) side.

Can be closed.

[2020-11-03 07:16] gdm85 commented on #171
Let's close it until it can be reproduced again and with a better context.

[2020-11-03 07:16] #171 closed

[2020-11-03 07:27] gdm85 commented on #103
@cdennison I think at the very least we should document this behaviour. If we were to change goveralls (either with an option or in all cases), would skipping the first and the last line of the blocks always be correct?

[2020-11-03 12:23] #106 closed

[2020-11-03 15:36] daniel-nichter commented on #182
Succeses! https://travis-ci.org/github/go-cmd/cmd/builds/741141702

Previously, I had
[code]
Swapping those lines worked:
[code]

Thanks for your help!

[2020-11-03 15:36] #182 closed

[2020-11-03 19:04] gdm85 commented on #105
Implemented in #188

[2020-11-04 20:56] #105 closed

[2020-11-04 21:22] gdm85 commented on #97
See `goveralls -h`:
[code]

You want to use something like: `goveralls -flags '-count=1'`.

[2020-11-04 21:22] #97 closed

[2020-11-04 21:37] gdm85 commented on #69
Could this be related to a failure at retrieving the git metadata? @dougnukem @kiambogo can you please try with `master` version of `goveralls` and enable `-debug=true`? We should be able to figure this out based on the payload sent to coveralls.io

[2020-11-04 21:43] gdm85 commented on #120
@someone1 `goveralls` will use the space-separated list specified in `-pkg` to run `go list` and then use that result to run tests on each package.

Can you try using this option to see if issue can still be reproduced?

[2020-11-06 19:29] nbaztec commented on #69
Seems like an intermittent issue on coveralls judging from [overalls-public/issues/610](https://github.com/lemurheavy/coveralls-public/issues/610) and [python-pillow/Pillow/issues/2060](https://github.com/python-pillow/Pillow/issues/2060)

[2020-11-10 14:48] agamm opened #191 "How can I support Gitlab CI?"
We need to support gitlab ci instead of circle ci.

[2020-11-11 07:51] gdm85 commented on #191
The environment variables are described here: https://docs.gitlab.com/ee/ci/variables/predefined_variables.html

I guess support could be easily added. @agamm have you searched on GitLab about projects already using `goveralls`?

[2020-11-12 09:09] agamm commented on #191
Where are the changes supposed to be written? maybe I'll have time to PR. And is it only a map for the env vars?

[2020-11-15 10:38] gdm85 commented on #191
@agamm left some feedback on your PR; thanks!

[2020-11-29 19:18] cdennison commented on #103
@gdm85 - I believe you just skip all likes that only contain only closing brace "}" but there may be other differences between goveralls and go cover (I'm not an expert on either). I'm happy to create a PR that adds an experimental flag to output "go cover" coverage without closing braces to verify this theory but won't bother if no one cares.

[2020-12-01 00:39] #191 closed

[2021-02-27 12:40] #87 closed

[2021-02-27 12:40] #107 closed

[2021-02-27 12:41] #89 closed

[2021-05-08 05:21] shogo82148 opened #194 "Travis-ci.org shut down will occur on May 31, 2021"
Travis CI announced the org domain will shut down.

- https://blog.travis-ci.com/2021-05-07-orgshutdown

We need some actions, because our CI on Travis CI is still on the org domain: https://travis-ci.org/github/mattn/goveralls

Our choices are:

- Drop supporting Travis CI
- Migrating to the com domain and upgrade to the paid plan
  - The lowest concurrency based plan is 1 Concurrent plan: $69/mo

[2021-05-09 20:31] gdm85 commented on #194
What would be the downside of using GitHub actions? I assume it is not as nice to show code coverage but it should work for CI purposes.

[2021-05-10 09:48] shogo82148 commented on #194
GitHub Actions is enough for me, but some users may want to use Travis CI.
e.g. for supporting multiple CPU architectures, for supporting FreeBSD, for using more vCPU etc

[2021-05-15 16:05] mattn commented on #194
Currently, I'm asking what we can do for this to Travis-CI support.

[2021-05-16 15:45] mattn commented on #194
Now I selected Free Plan on travis-ci.com.

![image](https://user-images.githubusercontent.com/10111/118403366-084e2780-b6a9-11eb-8f1d-1f94453fc4c0.png)

[2021-07-08 16:45] captainswain opened #198 "Parallel with coverprofile?"
Hi,

I'm currently attempting to use the parallel flag using

``
goveralls -parallel -coverprofile=cover.out
...
``

then a final call like
[code]

However, the parallel finish doesn't seem to be hitting the webhook correctly.

Is this functionality currently supported? Or do I need to run my tests with goveralls to use the parallel job submissions?

[2021-07-08 23:57] shogo82148 commented on #198
It works on my repositories.

- https://github.com/shogo82148/actions-goveralls
- https://coveralls.io/builds/41129395

Can you tell me more details? e.g. CI environment, the actual script you ran, etc.

[2021-07-19 13:41] shogo82148 commented on #194
@mattn Can you check the status of travis-ci.com?

https://travis-ci.com/github/mattn/goveralls/pull_requests
![image](https://user-images.githubusercontent.com/1157344/126168667-bb03f4e0-a430-40f0-b825-9286d662824b.png)

There is no pull request builds, however https://github.com/mattn/goveralls/pull/201 should be listed here.

[2021-07-22 14:47] mattn commented on #194
Hmm, can't click this button disabled.
![image](https://user-images.githubusercontent.com/10111/126659145-bd852f53-2c42-4cc7-a18e-6347392bf06d.png)

[2021-08-18 10:10] ambiknai opened #202 "coverage:unknown badge even after successful execution in Github Actions"
Hi

I have below github actions which executed without any error

[code]

Job Run: https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver/pull/27/checks?check_run_id=3359889644

But the coverage badge is grey and unknown status.

[2021-08-18 11:18] shogo82148 commented on #202
It looks that no build has run on the default branch.

- https://coveralls.io/repos/348201/builds

![image](https://user-images.githubusercontent.com/1157344/129886905-d3302ace-2c85-4cb3-8009-a9c5b901dc8e.png)

By default, the build badge shows the coverage on **the default branch**.

- https://coveralls.io/repos/github/kubernetes-sigs/ibm-vpc-block-csi-driver/badge.svg?branch=master
- [![Coverage

[2021-08-18 11:18] #202 closed

[2021-08-30 11:24] avelino opened #203 "github service error: Couldn't find a repository matching this job"
without `-service`:
[code]

with `-service`:
[code]

[2021-08-30 12:37] shogo82148 commented on #203
use `${{ secrets.GITHUB_TOKEN }}` instead of COVERALLS_TOKEN

https://github.com/mattn/goveralls#github-actions

[code]

[2021-08-30 13:00] avelino commented on #203
doen't working: https://github.com/prest/prest/runs/3461878043?check_suite_focus=true

[2021-09-01 00:43] Tochemey commented on #203
I think there should be a way to provide the commit hash without the tool to figure out because the coveralls api reference does accept the commit hash.

[2021-09-20 09:53] gkech opened #204 "Shallow Coveralls client errors"
Hello all,

Sometimes when coveralls is under maintenance, we have situations where you receive back client errors that could lead to issues with the CI pipelines - depending of course on how you configure them.

Is the possibility of creating a flag similar to that https://github.com/mattn/goveralls/blob/master/goveralls.go#L65 something we would like to explore? Or maybe make the already existin

[2021-09-20 22:19] shogo82148 commented on #204
coveralls is still under maintenance...
https://status.coveralls.io/incidents/8zbjrwpb4frv
![image](https://user-images.githubusercontent.com/1157344/134082433-944b849f-1e36-4f20-8c53-e971e12d9fd4.png)
![image](https://user-images.githubusercontent.com/1157344/134083086-6644f983-4a0f-4ce9-8ace-5d7285ac154a.png)

Coveralls returns 405 Method Not Allowed.

https://github.com/shogo82148/actions-gover

[2021-09-20 22:49] #204 closed

[2021-09-21 07:40] gkech commented on #204
sounds good! rocket fast implementation 🚀 ! thanks

[2021-10-03 22:35] saheljalal opened #207 "Travis CI failing to find goveralls on latest go version"
Travis CI is failing with the `tip` for go and passes with the same config using `1.13.x`. It shows that it can't find the `goveralls` command.

The env:
[code]

The error:
[code]

[2021-10-26 15:05] ambiknai opened #208 "Get coveralls to comment on PR the coverage details"
Requirement: I need coverage to be posted to PRs. [basically looking for an alert when coverage goes down ]

As per https://github.com/coverallsapp/github-action#coveralls-comments-arent-added-to-my-pull-request

I have added pull_request in my github actions but still the coverage is not posted to PRs

This is the repository

https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver/blob/master

[2021-10-27 08:32] #208 closed, assigned to nobody

[2022-01-08 07:27] geraldywy opened #209 "README section on github actions is outdated"
While referencing the read me for integration with github actions, there were some issues i ran into.

1. `go-version` used should be at least 1.16 for `Install goveralls` step to work. ref: https://go.dev/doc/go1.16#go-command
2. `Set Up Go` step should be upgraded to actions/setup-go@v2 to fix an issue with GOPATH bin where goveralls command is not found in the `Send Coverage` step. ref: https:/

[2022-01-08 12:21] #209 closed

[2022-04-21 19:37] brianV commented on #207
I can confirm that this happens on CircleCI as well when running Go 1.18. This does not occur when I run it under Go 1.17.

[2022-04-30 20:14] leonardpahlke opened #211 "Comment Job execution link as a comment to the PR"
Hi 👋

Great Action! Thanks :)

I integrated it to my workflow and it works great. I am trying to comment into the PR chat the link to the codecoverage website. Maybe this could be a nice addition for this too.

Code except

[code]

I am unable to retrieve the link and only get this output: 'Code coverage link: Job #2250989753.1' no idea how to get the website link.. I looked into the API defenitio

[2022-05-01 12:48] leonardpahlke commented on #211
cc @mattn

[2022-05-01 13:34] mattn commented on #211
Interesting. Could you please send me PR to modify README ?

[2022-05-01 13:40] shogo82148 commented on #211
I recommend you to enable "Leave comments?" options on coveralls, instead of adding "Create or update comment" step.

e.g. the setting for https://github.com/shogo82148/actions-goveralls is available on https://coveralls.io/github/shogo82148/actions-goveralls/settings:

![image](https://user-images.githubusercontent.com/1157344/166148229-9ee02c6e-79be-43da-93b6-6cdbad03dfba.png)

The example of co

[2022-05-01 13:40] leonardpahlke commented on #211
Yes! I can create a "work in progress" / WIP PR but as I said it does not work quite yet..

I get `Code coverage link: Job #2253645797.1` as a comment but it should be `Code coverage link: https://coveralls.io/jobs/98738866`
![image](https://user-images.githubusercontent.com/58054077/166148450-cd51a2fb-f7ec-4e90-897f-c2e74f587bc1.png)

[2022-05-01 13:51] shogo82148 commented on #211
Or you want to do this in your GitHub Actions workflow, you should use `2> code_coverage_link` instead of `> code_coverage_link`.

The "Send coverage" will be:

[code]

[2022-05-01 14:31] leonardpahlke commented on #211
Thanks for your help :) `2>` does not solve the problem for me :thinking: .. The comment you posted before with the [comment that gets posted](https://github.com/shogo82148/actions-goveralls/pull/352#issuecomment-1113503480), looks great and is actually is exactly what I like to achieve! Great that this is already implemented.

The settings on https://coveralls.io/github/<user/org>/<repo>/settings

[2022-05-01 19:38] leonardpahlke commented on #211
okay I figured it out.. I will open a PR soon to update the README. The problem is that passing a multi line string through github action outputs is a bit weird,, (see [article](https://trstringer.com/github-actions-multiline-strings/))

This version works for me now :)
[code]

[2022-05-30 06:11] irfanurrehman opened #213 "Multiple builds against the same PR are failed by coveralls.io on a public repo"
We have been hitting a goveralls build failure where the coveralls.io api returns a failure for a different build on the same PR on a CI build in travis with a below error response:

[code]

This check seems to have been introduced recently.
The first build passes but any subsequent one fails (for example adding a commit to the PR after review fixes).

AFAIK this is because [goveralls uses](https:

[2022-05-30 23:38] irfanurrehman commented on #213
@mattn @shogo82148

[2022-06-15 08:00] hftsin opened #214 "got 500 on running with `-parallel-finish` option in circleci"
The coveralls return 500 when goveralls is executed with `-parallel-finish` option.